@charset "UTF-8";
 body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: black;
}
a {
    color: #F26464;
    font-weight:bold;
}
.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    padding-top: 10px;
    width: 220px;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #EADCBB;
}
.sidebar a {
    text-decoration: none;
}
.sidebar img {
    border: 0;
    border-radius: 175px;
}
.sidebar .avatar {
    padding: 0;
    margin-left: 0;
}
.sidebar .name {
    font-family: 'Philosopher', sans-serif;
    margin: 10px 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #3EBE9B;
}
.sidebar .meta a {
    margin-left: 0px;
    color: black;
}
.sidebar .meta a:hover {
    color: #3EBE9B;
}
.sidebar .meta {
    margin-left: 4px;
}
.sidebar .meta .icon {
    margin-right: 6px;
}
.sidebar .sections {
    margin: 15px 0 0 0;
}
.sidebar .sections a {
    padding: 3px 0;
    color: black;
    font-weight: bold;
    font-size: 14px;
    display: block;
}
.sidebar .sections a:hover {
    color: #3EBE9B;
}
.sidebar .sections ul {
    margin: 0;
    padding: 0;
}
.sidebar .sections li {
    list-style: none;
    margin-bottom: 7px;
}
.sidebar .start-somewhere {
    font-size: 12px;
    color: #F26464;
}
.sidebar .inspiration {
    font-size: 14px;
    font-style: italic;
}
.content {
    max-width: 650px;
    margin-left: 230px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.content h1 {
    color: #A6B556;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.content h1 a {
    color: #A6B556;
    text-decoration: none;
}
.content h2 {
    color: #3EBE9B;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.content h2 a {
    color: #3EBE9B;
    text-decoration: none;
}
.content h3 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.content h3 a {
    color: #111;
    text-decoration: none;
}
.content h4 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.content h4 a {
    color: #111;
    text-decoration: none;
}
.content h1 {
    font-size: 36px;
    margin: 18px 0 5px 0;
}
.content h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.content h3 {
    color: #777;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7em;
}
.content p code {
    font-size: 12px;
    background-color: #eeeeee;
    border: 1px solid #777777;
    border-radius: 3px;
    padding: 2px 3px;
}
.content img {
    padding: 3px;
    border: 1px solid #eeeeee;
    max-width: 100%;
}
.content hr {
    border: 0;
    height: 6px;
    background-image: url("/images/hr.png");
    background-repeat: repeat-x;
    margin: 2em 3em;
}
.content li {
    margin-bottom: 10px;
    line-height: 1.4em;
}
.content blockquote {
    font-family: 'Coming Soon', cursive;
    font-style: italic;
    font-size: 10px;
    padding: .25em 1em;
    margin: 1em 1em 0 1em;
    color: #444;
}
.content blockquote cite:before {
    content: '— ';
}
.content blockquote cite {
    display: block;
    margin-top: .5em;
    text-align: right;
    color: #111;
    font-style: normal;
}
.content .byline {
    margin-bottom: 17px;
    font-family: 'Raleway', sans-serif;
    padding-left: 0px;
    font-size: 17px;
    color: #777;
}
.content .aside {
    background-color: #eeeeee;
    padding: 14px;
    font-size: 14px;
    margin: 5px 0 15px 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
}
.content .listing {
    margin: 10px 0 0 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.content .listing ul {
    margin: 0;
    padding: 0;
}
.content .listing li {
    font-size: 20px;
    list-style: none;
    padding: 5px 3px;
    margin: 0;
    color: #777777;
    border-bottom: 1px solid #eee;
}
.content .listing li span {
    float: right;
}
.content .listing a:hover {
    text-decoration: underline;
}
.content .meta {
    margin: 30px 0;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
}
.content .meta p {
    line-height: 1.4;
    font-size: 14px;
    margin-top: 0px;
}
.content .meta img {
    position: relative;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: -60px;
    border-radius: 4px;
}
.content .meta .copy {
    padding-left: 60px;
}
.content .meta iframe {
    padding-left: 5px;
}
.content .talk-design .color div {
    float: left;
    margin-right: 10px;
    padding: 5px 15px;
    border: 1px solid #000;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.content .talk-design .color .white {
    color: #fff;
}
