---
layout: layout
title: "Posts"
---
  <ul class="listing">
    {% for post in site.posts %}
      {% unless post.draft %}
      <li>
        <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      <span> {{ post.content | truncatewords: 50 }} </span><a href="{{ post.url }}">Read more</a>
      {% endunless %}
    {% endfor %}
  </ul>
