<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ site.github.url }}/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.github.url }}/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="{{ site.github.url }}/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="{{ site.github.url }}/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Philosopher:700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.github.url }}/js/application.js"></script>
</head>

<body>
  <section class="sidebar">
      <img src="{{ site.github.owner_gravatar_url }}?s=150" height="175" width="175" class="avatar" />

    <section class="name">
      {{ site.name }}
    </section>
      <section class="inspiration">
          "Your actions are your only belongings."<br>
          <b>- Allan Lokos</b> <br><br>
          </section>
      <section class="start-somewhere">
          <b>START SOMEWHERE.</b><br><br><br>
      </section>

    <section class="meta">
      <a href="{{ site.github.owner_url }}" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="/atom.xml"><i class="fa fa-rss"></i></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about.html">About</a></li>
        <li><a href="/">Posts</a></li>
      </ul>
    </section>
  </section>
<section class="content">
 {{ content }}
</section>

</body>

</html>
