---
layout: layout
---
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: bio here -->
  <section class="meta">
    <h3>Discussion, links, and tweets</h3>
    <section class="copy">
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <img src="{{ site.github.owner_gravatar_url }}?s=142" height="50" width="50" />
      </a>

      <p>
        I'm a student, mother, and "dev-in-the-making". <a href="https://twitter.com/{{ site.twitter }}" target="_blank">Follow me on Twitter</a>;
        Where I literally dump any and everything that is on my brain&mdash; I'm REAL &amp; uncensored!
      </p>

      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Tweet</a>
      <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    </section>
  </section>
